body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.remote{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
.hide{
  display: none;
  visibility: hidden;
}
.show{
  display: block;
  visibility: visible; 
}
.drop{
  background-color: white;
  padding: 1%;
  height: auto;
  font-size: 16px;
  width: 80%;
}
.refresh{
    height: auto;
    background-color: white;
    border-style: ridge;
    border-collapse: collapse;
    border-color: #868e96;
    border-width: 1px;
  font-size: 16px;
  width: 20%;
  padding: 1%;
}
.local{
    /*background-color: green;*/
    max-width: 120px;
    min-width: 120px;
    max-height: 160px;
    min-height: 160px;
    position: fixed;
    margin-left: 288px;
    margin-top: 328px;
}
